In [26]:
pwd

'C:\\Users\\Sefa3\\Desktop\\Programlama\\Spyder Projects\\problem 5 - 6'

In [27]:
import numpy as np
import pandas as pd

In [28]:
df1 = pd.read_csv("i_users.csv")
df1

    userld       username           emailaddress  isActive     password gender
0        1  Administrator      admin@piworks.net         1   ssdfdsfsdf    NaN
1        2       Jonathan     Jonathan@gmail.com         1     asdasdas      M
2        3           Rita         rita@yahoo.com         1  2c34435c23r      F
3        4    Christopher  Christopher@gmail.com         1     asdvadsa      M
4        5          Kenzo        Kenzo@gmail.com         1  sadc3242342      M
5        6          Brent        Brent@gmail.com         0     asdsadsa      M
6        7       Adrianna   Adrianna@hotmail.com         0       54nb65      F
7        8         Faheem       Faheem@gmail.com         1      23vc42v      M
8        9        Dimitri      Dimitri@gmail.com         0  34vc2 342 3      M
9       10           Fred         Fred@gmail.com         1    324234234      M
10      11           Lily         Lily@yahoo.com         1   3242342324      F

In [29]:
df2 = pd.read_csv("i_user_login_logs.csv")
df2

    userld  login_date
0        1  10.02.2016
1        1  25.02.2016
2        3  18.03.2016
3        2  26.06.2016
4        5  21.07.2016
5        7   4.08.2016
6        9  17.10.2016
7        5  26.10.2016
8        4  30.11.2016
9        2  24.01.2017
10       5  21.02.2017

--------------------

# 4.

In [33]:
df2[df2["userld"] > 3]  # users who logged in more than three times in "i_user_login_logs.csv"

    userld  login_date
4        5  21.07.2016
5        7   4.08.2016
6        9  17.10.2016
7        5  26.10.2016
8        4  30.11.2016
10       5  21.02.2017

In [34]:
problem4 = df1[df2["userld"] > 3]  # users who logged in more than three times in "i_users.csv"
problem4

    userld  username          emailaddress  isActive     password gender
4        5     Kenzo       Kenzo@gmail.com         1  sadc3242342      M
5        6     Brent       Brent@gmail.com         0     asdsadsa      M
6        7  Adrianna  Adrianna@hotmail.com         0       54nb65      F
7        8    Faheem      Faheem@gmail.com         1      23vc42v      M
8        9   Dimitri     Dimitri@gmail.com         0  34vc2 342 3      M
10      11      Lily        Lily@yahoo.com         1   3242342324      F

In [35]:
problem4["username"]  # solution to the problem 4

4        Kenzo
5        Brent
6     Adrianna
7       Faheem
8      Dimitri
10        Lily
Name: username, dtype: object

----------------

# 5.

In [38]:
df1

    userld       username           emailaddress  isActive     password gender
0        1  Administrator      admin@piworks.net         1   ssdfdsfsdf    NaN
1        2       Jonathan     Jonathan@gmail.com         1     asdasdas      M
2        3           Rita         rita@yahoo.com         1  2c34435c23r      F
3        4    Christopher  Christopher@gmail.com         1     asdvadsa      M
4        5          Kenzo        Kenzo@gmail.com         1  sadc3242342      M
5        6          Brent        Brent@gmail.com         0     asdsadsa      M
6        7       Adrianna   Adrianna@hotmail.com         0       54nb65      F
7        8         Faheem       Faheem@gmail.com         1      23vc42v      M
8        9        Dimitri      Dimitri@gmail.com         0  34vc2 342 3      M
9       10           Fred         Fred@gmail.com         1    324234234      M
10      11           Lily         Lily@yahoo.com         1   3242342324      F

In [39]:
df2

    userld  login_date
0        1  10.02.2016
1        1  25.02.2016
2        3  18.03.2016
3        2  26.06.2016
4        5  21.07.2016
5        7   4.08.2016
6        9  17.10.2016
7        5  26.10.2016
8        4  30.11.2016
9        2  24.01.2017
10       5  21.02.2017

In [42]:
df2["userld"].max()   # who logged in most

9

In [44]:
df2[df2["userld"] == df2["userld"].max()]  # who logged in most in "i_user_login_logs.csv"

   userld  login_date
6       9  17.10.2016

In [46]:
problem5 = df1[df2["userld"] == df2["userld"].max()]  # who logged in most in "i_users.csv"
problem5

   userld  username          emailaddress  isActive password gender
6       7  Adrianna  Adrianna@hotmail.com         0   54nb65      F

In [49]:
problem5.iloc[:, 1:3]   # solution to the problem 5

   username          emailaddress
6  Adrianna  Adrianna@hotmail.com

-----------------