In [29]:
pwd

'C:\\Users\\Sefa3\\Desktop\\Programlama\\Spyder Projects\\problem 5 - 6'

In [30]:
import numpy as np
import pandas as pd

In [64]:
df1 = pd.read_csv("i_users.csv")
df1

    userld       username           emailaddress  isActive     password gender
0        1  Administrator      admin@piworks.net         1   ssdfdsfsdf    NaN
1        2       Jonathan     Jonathan@gmail.com         1     asdasdas      M
2        3           Rita         rita@yahoo.com         1  2c34435c23r      F
3        4    Christopher  Christopher@gmail.com         1     asdvadsa      M
4        5          Kenzo        Kenzo@gmail.com         1  sadc3242342      M
5        6          Brent        Brent@gmail.com         0     asdsadsa      M
6        7       Adrianna   Adrianna@hotmail.com         0       54nb65      F
7        8         Faheem       Faheem@gmail.com         1      23vc42v      M
8        9        Dimitri      Dimitri@gmail.com         0  34vc2 342 3      M
9       10           Fred         Fred@gmail.com         1    324234234      M
10      11           Lily         Lily@yahoo.com         1   3242342324      F

In [65]:
df2 = pd.read_csv("i_user_login_logs.csv")
df2

    userld  login_date
0        1  10.02.2016
1        1  25.02.2016
2        3  18.03.2016
3        2  26.06.2016
4        5  21.07.2016
5        7   4.08.2016
6        9  17.10.2016
7        5  26.10.2016
8        4  30.11.2016
9        2  24.01.2017
10       5  21.02.2017
11      10  22.02.2017
12      11  23.03.2018
13      11  24.03.2018
14      10  25.03.2018
15       3  24.03.2018
16       3  25.04.2018
17       3  11.03.2018
18       4  22.05.2018
19       4  24.12.2019
20       5  22.22.2019
21       7  22.22.2019
22       4  22.22.2019
23       2  22.22.2019
24       1  22.22.2019
25       1  22.22.2019
26       1  22.22.2019
27       1  22.22.2019
28       4  22.22.2019
29       7  22.22.2019
30       5  22.22.2019
31       3  22.22.2019

--------------------

# 4.

In [43]:
logs = []
for i in range(2, len(df1["userld"]) + 1):
    m, n = df2[df2["userld"] == i].iloc[:, 0:1].shape
    logs.append(m)

In [44]:
logs

[3, 5, 5, 5, 0, 3, 0, 1, 2, 2]

In [45]:
x = pd.Series(logs)
x

0    3
1    5
2    5
3    5
4    0
5    3
6    0
7    1
8    2
9    2
dtype: int64

In [46]:
x[x > 3]

1    5
2    5
3    5
dtype: int64

In [48]:
y = (x[x > 3].index) + 1
y

Int64Index([2, 3, 4], dtype='int64')

In [103]:
df1.loc[y].iloc[:, 1:3]

      username           emailaddress
2         Rita         rita@yahoo.com
3  Christopher  Christopher@gmail.com
4        Kenzo        Kenzo@gmail.com

------------

# 5.

In [38]:
logs = []
for i in range(2, len(df1["userld"]) + 1):
    m, n = df2[df2["userld"] == i].iloc[:, 0:1].shape
    logs.append(m)

In [39]:
j = max(logs)

In [40]:
x = logs.index(j) + 1

In [41]:
df1.iloc[x:x+1, 1:3]

  username    emailaddress
2     Rita  rita@yahoo.com

-----------------