In [40]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Requirement already satisfied: ipython-sql in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (0.3.9)',
 'Requirement already satisfied: six in c:\\users\\sefa3\\appdata\\roaming\\python\\python37\\site-packages (from ipython-sql) (1.12.0)',
 'Requirement already satisfied: sqlparse in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from ipython-sql) (0.3.0)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from ipython-sql) (1.3.1)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: prettytable in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from ipython-sql) (0.7.2)',
 'Requirement already satisfied: ipython>=1.0 in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from ipython-sql) (7.4.0)',
 'Requirement already satisfied: traitlets>=4.2 in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (4.3.2)',
 'Requirement already satisfied: colorama; sys_platform == "win32" in c:\\users\\sefa3\\appdata\\roaming\\python\\python37\\site-packages (from ipython>=1.0->ipython-sql) (0.4.1)',
 'Requirement already satisfied: decorator in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (4.4.0)',
 'Requirement already satisfied: pickleshare in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)',
 'Requirement already satisfied: pygments in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (2.3.1)',
 'Requirement already satisfied: backcall in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)',
 'Requirement already satisfied: jedi>=0.10 in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.13.3)',
 'Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (2.0.9)',
 'Requirement already satisfied: setuptools>=18.5 in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (41.2.0)',
 'Requirement already satisfied: parso>=0.3.0 in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.3.4)',
 'Requirement already satisfied: wcwidth in c:\\users\\sefa3\\anaconda3\\lib\\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)']

In [41]:
%load_ext sql

In [42]:
%sql sqlite:///lib.db

'Connected: @lib.db'

In [50]:
%%sql
SELECT userld, username, emailaddress FROM i_users WHERE NOT username = 'Administrator'

 * sqlite:///lib.db
Done.

[(2, 'Jonathon', 'Jonathan@gmail.com'),
 (3, 'Rita', 'Rita@yahoo.com'),
 (4, 'Christopher', 'Christopher@hotmail.com'),
 (5, 'Kenzo', 'Kenzo@gmail.com'),
 (6, 'Brent', 'Brent@gmail.com'),
 (7, 'Adrianna', 'Adrianna@hotmail.com'),
 (8, 'Faheem', 'Faheem@gmail.com'),
 (9, 'Dimitri', 'Dimitri@gmail.com'),
 (10, 'Fred', 'Fred@gmail.com'),
 (11, 'Lily', 'Lily@yahoo.com')]

In [51]:
%%sql
SELECT userld, COUNT(userld) as logins FROM i_user_login_logs WHERE NOT userld = 1 GROUP BY userld ORDER BY logins DESC;

 * sqlite:///lib.db
Done.

[(2, 5), (3, 5), (4, 3), (7, 3), (6, 2), (8, 2), (9, 2), (5, 1)]

In [49]:
%%sql
SELECT username, emailaddress FROM
(SELECT i_users.userld, i_users.username, i_users.emailaddress, COUNT(i_user_login_logs.userld) as logins
 FROM i_users LEFT JOIN i_user_login_logs ON i_users.userld = i_user_login_logs.userld WHERE NOT username = 'Administrator'
 GROUP BY i_user_login_logs.userld ORDER BY logins DESC)
WHERE logins > 3

 * sqlite:///lib.db
Done.

[('Jonathon', 'Jonathan@gmail.com'), ('Rita', 'Rita@yahoo.com')]